{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
   My profile
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!--<link href="../static/assets/demo/demo.css" rel="stylesheet" />-->
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../static/assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="" class="simple-text logo-normal text-primary">
          JobEasy<i class="material-icons ">sentiment_satisfied_alt</i>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active ">
            <a class="nav-link" href="http://127.0.0.1:8000/employer_profile/">
              <i class="material-icons">person</i>
              <p>My Profile</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'employer_app:emp_job_listing' %}">
              <i class="material-icons">content_paste</i>
              <p>Jobs posted</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="{% url 'employer_app:add_job_post' %}">
              <i class="material-icons">library_books</i>
              <p>Post New Job</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel">
       <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a href="http://127.0.0.1:8000/employer_edit" class="btn btn-primary btn-round">
                   <span><i class="material-icons">create</i> Edit Profile</span>
            </a>

          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <!--<form class="navbar-form">-->
              <!--<div class="input-group no-border">-->
                <!--<input type="text" value="" class="form-control" placeholder="Search...">-->
                <!--<button type="submit" class="btn btn-white btn-round btn-just-icon">-->
                  <!--<i class="material-icons">search</i>-->
                  <!--<div class="ripple-container"></div>-->
                <!--</button>-->
              <!--</div>-->
            <!--</form>-->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/employer/home/">
                  <i class="material-icons">home</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://127.0.0.1:8000/home/logout/">
                  <i class="material-icons">power_settings_new</i>
                  <p class="d-lg-none d-md-block">
                    logOut
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/media/{{ profile_pic }}" />
                  </a>
                </div>

            <!--<div class="card-header card-header-primary">-->
              <!--<h3 class="card-title">Profile</h3>-->
            <!--</div>-->
            <div class="card-body">

                  <h2 class="card-category ">{{ user_name }}</h2>
                  <h4 class="card-title">{{ first_name }}</h4>
                  <h4 class="card-title">{{ last_name }}</h4>
                  <h5 class="card-title">{{ address }}</h5>
                  <h5 class="card-title">{{ phone_number }}</h5>
                  <h5 class="card-title">{{ email }}</h5>

                  <p class="card-description">
                   <h5 class="card-title">{{ company_name }}</h5>
                  <h5 class="card-title">{{ company_description }}</h5>
                  <h5 class="card-title">{{ company_address }}</h5>
                  </p>
              </div>
            </div>

          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>
            <a href="https://www.creative-tim.com" target="_blank">JobEasy</a>
          </div>
        </div>
      </footer>
    </div>

  <script>
    $(document).ready(function() {
      //init DateTimePickers
      md.initFormExtendedDatetimepickers();
    });
  </script>
</body>

</html>
