{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>seeker_edit_profile</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link href="{% static 'css/material-dashboard.css' %}" rel="stylesheet" />

  <style>
      .table tr{
          background-color: white;
          color: black;
      }
      .table tr:hover{
          background-color: whitesmoke;
          color: purple;
          font-size: 18px;
      }
      .table .th-sm{
          color: white;
          background-color: purple;
          padding-left: 10px;
      }
	.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
  </style>
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../static/assets/img/dashboard_employer_imgs/sidebar.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="" class="simple-text logo-normal text-primary">
          JobEasy<i class="material-icons ">sentiment_satisfied_alt</i>
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <!--<li class="nav-item  ">-->
            <!--<a class="nav-link" href="./dashboard.html">-->
              <!--<i class="material-icons">dashboard</i>-->
              <!--<p>Dashboard</p>-->
            <!--</a>-->
          <!--</li>-->
          <li class="nav-item  ">
            <a class="nav-link" href="http://127.0.0.1:8000/employee_profile/">
              <i class="material-icons">person</i>
              <p>My Profile</p>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="http://127.0.0.1:8000/employee_history_jobs/">
              <i class="material-icons">history</i>
              <p>History</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/employee/job_applied/">
              <i class="material-icons">library_books</i>
              <p>Applied Jobs</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="http://127.0.0.1:8000/saved_jobs/">
              <i class="material-icons">loyalty</i>
              <p>Saved pages</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="http://127.0.0.1:8000/search/">
              <i class="material-icons">search</i>
              <p>Search Page</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand" href="#pablo">History Details</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:8000/search/">
                  <i class="material-icons">home</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://127.0.0.1:8000/home/logout/">
                  <i class="material-icons">power_settings_new</i>
                  <p class="d-lg-none d-md-block">
                    logOut
                  </p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div  style="margin-left: 50px;padding: 10px">
              <table id="dt-basic-checkbox" class="table" cellspacing="0" width="100%">
  <thead style="font-size: 20px">
    <tr style="width: 100%;margin: 100px;font-size: 20px">
        <th class="th-sm"><h3>Job ID</h3>
      </th>
      <th class="th-sm"><h3>Role</h3>
      </th>
        <th class="th-sm"><h3>Category</h3>
      </th>
      <th class="th-sm"><h3>Location</h3>
      </th>
      <th class="th-sm"><h3>Salary</h3>
      </th>
      <th class="th-sm"><h3>Ratings</h3>
      </th>
    </tr>
  </thead>
  <tbody>
  {% for k,v in data_new.items %}
    <tr>
      <td>{{ v.name.job.id }}</td>
        <td>{{ v.name.job.job_title }}</td>
      <td>{{ v.name.job.job_type }}</td>
      <td>{{ v.name.job.job_address }}</td>
      <td>{{ v.name.job.job_salary }}</td>
        {% if v.comments %}
        <td>Feedback: {{ v.comments }}<br><br>Ratings: {{ v.ratings }}/5</td>
        {% else %}
<td>		<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
Rate
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Give your ratings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" action={% url "employee_app:RateJob" %}>
          {% csrf_token %}
      <div class="modal-body">
        <div class="rate">
		    <input type="radio" id="star5" name="rate" value="5" />
		    <label for="star5" title="text">5 stars</label>
		    <input type="radio" id="star4" name="rate" value="4" />
		    <label for="star4" title="text">4 stars</label>
		     <input type="radio" id="star3" name="rate" value="3" />
		    <label for="star3" title="text">3 stars</label>
		    <input type="radio" id="star2" name="rate" value="2" />
		    <label for="star2" title="text">2 stars</label>
		    <input type="radio" id="star1" name="rate" value="1" />
		    <label for="star1" title="text">1 star</label>
		  </div>
		  <br>
		  <div>
		  	<textarea class="form-control" placeholder="Give your feedback here..." name="comment"></textarea>
		  </div>
          <input type="hidden" name="user_id" value="{{ v.name.id }}">
      </div>
      <div   class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>

      </div>
  </form>
    </div>
  </div>
</div>
</td>
    {% endif %}
    </tr>
  {% endfor %}
  </tbody>
</table>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>
            <a href="https://www.creative-tim.com" target="_blank">JobEasy</a>
          </div>
        </div>
      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../static/assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../static/assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../static/assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../static/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../static/assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../static/assets/js/plugins/bootstrap-datetimepicker.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../static/assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../static/assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../static/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../static/assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../static/assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../static/assets/js/plugins/arrive.min.js"></script>
  <!-- Chartist JS -->
  <script src="../static/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/material-dashboard.js?v=2.1.1" type="text/javascript"></script>
  <!--&lt;!&ndash; Material Dashboard DEMO methods, don't include it in your project! &ndash;&gt;-->
  <!--<script src="../static/assets/demo/demo.js"></script>-->

</body>
<script>
    $('#dt-basic-checkbox').dataTable({

columnDefs: [{
orderable: false,
className: 'select-checkbox',
targets: 0
}],
select: {

selector: 'td:first-child'
}
});

</script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
